body {
	overflow: hidden;
}

.graphics-state {
	padding: 0;
	display: block;
		overflow: hidden;
}


path {
  stroke: #fff;
}

path:first-child {
  fill: yellow !important;
}

circle {
  fill: #000;
  pointer-events: none;
}

.q0-9 { fill: #AA3939; }
.q1-9 { fill: #AA6C39; }
.q2-9 { fill: #2D882D; }
.q3-9 { fill: #226666; }
.q4-9 { fill: #74276D; }
.q5-9 { fill: #294F6D; }
.q6-9 { fill: #AA4439; }
.q7-9 { fill: #AA9B39; }
.q8-9 { fill: #983352; }


.faded {
	opacity: 0.5;
}
.unfaded {
	opacity: 0.8;
}

#voronoiContainer {
	margin: 0;
}

div.resources {
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
 z-index : 1;
    position: absolute;     /* reference for measurement */
    /*text-align: left;*/
    background: #FFFFEF;
    pointer-events: none;
/*    width: 400px;
    height: 165px;*/
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
/*    position: absolute;*/
    font-size: 25pt;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
    opacity:0;    
}

div.timer {
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
 z-index : 1;
    position: absolute;     /* reference for measurement */
    /*text-align: left;*/
    background: #FFFFEF;
    pointer-events: none;
/*    width: 400px;
    height: 165px;*/
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
/*    position: absolute;*/
    font-size: 25pt;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
    opacity:0;    
}


div.tooltip {   
z-index : 1;
    position: absolute;     /* reference for measurement */
    text-align: left;
    background: #FFFFEF;

/*    width: 400px;
    height: 165px;*/
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
    opacity:0;       
}

.summary-header {
    font-weight: bolder;
    text-align: center;
    font-size: 30pt;
    padding-bottom: 10px;
}

.summary-content {

}

.summary-button {
  position: absolute;
    bottom: 5%; 
    left: 10%;
    font-size: 20pt;
    height: 50px;
    width: 80%;
    /*display: block;*/
    margin: 0 auto;
}

.zone-buttons {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.zone-button-deliver {
    background-color: green;
    color: white;
    width: 50%;
    font-size: 20pt;
    height: 50px;
}

.zone-button-undeliver {
    background-color: red;
    color: white;
    width: 50%;
    font-size: 20pt;
    height: 50px;
}
